/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
	/* Variables For Storing Colors */
	--primary-base-clr: #D8C4B6;
	--primary-light-clr: #1e90ff;
	--bg-clr-1: #C1D0B5;
	--bg-clr-2: #FFF1DC;
	--main-heading-clr: #080202;
	--secondary-heading-clr: #146C94;
	--text-clr: #213555;
	--dark-text-clr: #080202;
	--btn-base-clr: #464121;
}
body{
	width: 100%;
	min-height: 100vh;
}
.web-container{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: var(--bg-clr-2);
	color: var(--main-heading-clr);
}